/* ==========================================
   ESTILOS INICIALES DEL PORTAFOLIO
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: white;
}

/* NAVBAR */

header {
    background-color: #070707;
    padding: 20px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: #d45b76;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    color: #d45b76;
}

/* INICIO */

#inicio {
    min-height: 85vh;
    padding: 120px 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inicio p:first-child {
    color: #d45b76;
    font-weight: bold;
    letter-spacing: 3px;
}

#inicio h1 {
    font-size: 4rem;
    margin: 10px 0;
}

#inicio h2 {
    color: #c8bfc1;
    margin-bottom: 20px;
}

#inicio p {
    max-width: 600px;
    line-height: 1.7;
}

#inicio a {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding: 12px 22px;
    border-radius: 8px;
    background-color: #941735;
    color: white;
    text-decoration: none;
}

#inicio a:hover {
    background-color: #b83252;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 30px;
    background-color: #070707;
    color: #c8bfc1;
}

/* RESPONSIVE */

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #inicio h1 {
        font-size: 2.8rem;
    }

}